<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Main Room</title>
  </head>
  <body>
    <a href="{% url "index" %}"><h1>Lunch Room</h1></a>
    <hr>
    {% if object_list %}
        <h1>Existing rooms</h1>
        <ul>
        {% for room in object_list %}
            <li>
              <a href="{% url "room-get" room.id %}">
                {{ room.date }}
              </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No rooms are available.</p>
    {% endif %}
    <button onclick="location.href='{% url "room-add" %}'" type="button">
      Create new room
    </button>
  </body>
</html>
