<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Manage Users</title>
  </head>
  <body>
    {% if object_list %}
        <h1>Existing users</h1>
        <ul>
        {% for user in object_list %}
            <li>
              <a href="{% url "user-get" user.id %}">
                {{ user.name }}
              </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users are available.</p>
    {% endif %}
    <button onclick="location.href='{% url "user-add" %}'" type="button">
      Create new user
    </button>
  </body>
</html>
